[submodule "vim_plugins/vim-pathogen"]
	path = vim_plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim_plugins/vim-fugitive"]
	path = vim_plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim_plugins/vim-rails"]
	path = vim_plugins/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim_plugins/vim-surround"]
	path = vim_plugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim_plugins/vim-commentary"]
	path = vim_plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim_plugins/nerdtree"]
	path = vim_plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim_plugins/syntastic"]
	path = vim_plugins/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim_plugins/vim-airline"]
	path = vim_plugins/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim_plugins/ctrlp.vim"]
	path = vim_plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
